.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.row [class*=col-]{
  padding: 10px 19px;
}

table {
  width: 100%;
}

tr th, select {
  padding: 0.5% 0.5% 0.5% 0.5%;
}

tr td{
  padding: 0.5% 2%;
  text-align: left;
}

table tbody tr:nth-child(even) {
  background-color: #282828;
}

table tbody tr:nth-child(odd) {
  background-color: #383838;
}
